<div class="cm-wrap">
    <div class="mc-header__inner">
        <span class="mc-nav-action mc-breadcrumb">
            <span class="see-more-arrow"><</span>
            <a href="">
                See More Instructors
            </a>
        </span>
        <a class="mc-header__wordmark" href="/">
            <img src="https://do6eyjibs3jse.cloudfront.net/assets/refresh/global/logo-wordmark-d877f23f3d8d268d21363154e97d193e4ba5690dd3fa376a38c2ad243c469fe9.svg" alt="Logo wordmark">
        </a>
        <!-- <a id="logo-primary" href="/">
            <img class="mc-header__logo" src="https://do6eyjibs3jse.cloudfront.net/assets/refresh/global/logo-f4f6da1f914f01c62d6d9298b29c4b965d69109fc7668c60a7b6652505d9bacd.png">
        </a> -->
        <a class="mc-header__login-link" href="#"> Log In</a>
    </div>
  <div class="vignette"></div>
  <img class="course-hero" src="https://d3e9iqx18mbphw.cloudfront.net/images/1589/original/1523378551-Class_Hero.jpg" alt="">
  <img class="play-button" src="https://do6eyjibs3jse.cloudfront.net/assets/icons/icn-play-button-7ba012291cbf0c5ef41a6809bf798ce99aed9a8f76de812b219817cbba41e472.svg" alt="">
  <h2 class="course-inst"><%= "#{@course.instructor.first_name} #{@course.instructor.last_name}" %></h4>
  <h1 class="course-title">teaches <%= @course.title %></h4>
</div>
