<div class="cm-wrap">
  <h4><%= @course.title %></h4>
  <h4><%= @course.instructor.first_name %></h4>
  <img src="https://d3e9iqx18mbphw.cloudfront.net/images/1589/original/1523378551-Class_Hero.jpg" alt="">
</div>
