/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: black;
    font: normal 400 16px/1 "Lato", "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
    color: white;
}
.cm-main-wrap {
    background-color: black;
    max-width: 1200px;
    margin: 0 auto;
}
/* nav */
.mc-header__outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 22;
    line-height: 1;
}
.mc-header__inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    z-index: 22;
    margin: 0 auto;
    padding: 11px 0;
    background-color: black;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    transform: translate3d(0, 0, 0);
}
span.see-more-arrow {
    color: #c83232;
    margin-right: 2px;
    font-size: 10px;
    margin-left: 10px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
.mc-header__logo {
    width: 124px;
    height: 56px;
}
.mc-header-logo-full {
    width: 125px;
}
.mc-header__wordmark {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: calc(50% - 62px);
    right: 50%;
    margin: auto;
}
.mc-header__login-link {
    float: right;
    margin-right: -4px;
}
.mc-header__login-link {
    position: absolute;
    right: 18px;
}
/* course hero area */
.vignette {
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    width: 960px;
    height: 536px;
    margin-left: -480px;
    background: radial-gradient(circle, transparent 50%, black 100%);
    box-shadow: 0 0 100px 80px black inset;
    z-index: 1;
}
.course-hero {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 960px;
    margin: auto;
}
.play-button {
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    width: 70px;
    margin: auto
}
.course-title {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    top: 436px;
    text-align: center;
    font-size: 34px;
    font-weight: lighter;
    text-transform: uppercase;
    z-index: 1;
    color: rgba(250,250,250,0.5);
    letter-spacing: 1.5px;
}
.course-inst {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    top: 370px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 2.2px;
}
/* enroll area */
.wrap-course-enroll {
    margin-top: 500px;
}
.dev-col-three {
    display: inline-block;
    width: 28%;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}
.dev-col-three:nth-child(2) {
    border-right: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    width: 33%;
    padding: 20px;
    text-align: center;
}
.cm-intro-title {
    font-size: 20px;
    line-height: 1.04;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.8em auto 0.5em;
}
.cm-intro-desc {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.375;
    color: rgba(255,255,255,0.5);
}
/* cm lesson description */
.wrap-cm-less {
    display: inline-block;
    width: calc(100% - 492px - 6em);
    height: calc(430px - 6em);
    margin: 0 auto;
    padding: 3em 4em;
    background: #fff;
    margin: 0 0 4em;
    color: #4D5768;
}
.cm-less-title {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0.3em;
    text-transform: none;
}
.cm-less-desc {
    font-size: 1em;
    line-height: 1.7;
    color: rgba(77,87,104,0.6);
}
.cm-less-img {
    position: absolute;
    /* takes into account clip value */
    /* margin-right: -100px; */
    clip: rect(0px,460px,526px,0px);
}
.wrap-cm-less-list {
    background: #fff;
    width: 1020px;
    margin: 0 auto;
    padding: 0 1.25em;
}
/* chapters */
.wrap-cm-chapt-number {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}
.wrap-cm-chapt-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 2.25em 1em;
}
.indv-less {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(77,87,104,0.2);
}
.indv-less:last-of-type {
    border-bottom: none;
}
.cm-chapt-number {
    position: relative;
    top: -.1em;
    font-size: 3em;
    color: rgba(77,87,104,0.4);
}
.cm-chapt-title {
    font-size: 1.5em;
    color: #4d5768;
    margin: 8px 0;
}
.cm-chapt-desc {
    color: rgba(77,87,104,0.6);
    line-height: 1.2;
    margin: 0;
}

/* get started */
/* imported from chrome inspector */
.cm-ctas-block {
    max-width: 300px;
    margin: 0 auto;
}
.cm-ctas-block__title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
}
.mc-button {
    display: inline-block;
    vertical-align: middle;
    min-width: 223px;
    margin: 0;
    padding: 16px;
    background-color: #c83232;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background .3s ease,border .3s ease;
    -o-transition: background .3s ease,border .3s ease;
    -moz-transition: background .3s ease,border .3s ease;
    transition: background .3s ease,border .3s ease;
    cursor: pointer;
}
.cm-ctas-block__non-aap-buttons .mc-button {
    min-width: 0;
}
.cm-ctas-block__primary-button {
    display: block;
    margin: 8px 0;
}
.mc-button--secondary {
    background-color: #333;
}
.cm-ctas-block__non-aap-buttons {
    display: flex;
}
.subscription-modal-type__more-info-icon {
    opacity: 0.9;
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
    transition: opacity 250ms ease;
}
.cm-ctas-block__separator {
    position: relative;
    line-height: 16px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 9px 0;
    color: rgba(255,255,255,0.5);
}
.cm-ctas-block__separator span {
    position: relative;
    background: black;
    padding: 0 7px;
}
.cm-ctas-block__separator:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.2);
}
.mc-button--outline {
    position: relative !important;
    background-color: transparent;
    border-color: rgba(255,255,255,0.2);
    width: 100px !important;
}
.cm-ctas-block__pricing-description {
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: rgba(255,255,255,0.5);
}
.cm-ctas-block__non-aap-button--single {
    margin-right: 12px;
}

.cm-ctas-block__non-aap-button {
    flex-grow: 1;
}
.cm-ctas-block__non-aap-buttons {
    display: flex;
}
.cm-ctas-block__single-class-description {
    line-height: 22px;
    font-size: 14px;
    margin-top: 4px;
    letter-spacing: 0.2px;
    color: rgba(255,255,255,0.5);
}
